ion-header{
    padding: 20px;
    font-size: 30px;
    color: white
}

// ion-title{
//     font-size: 25px;

// }  

ion-toolbar{
    background-color: gray;

}

.icon2{
zoom: 5.0;   
// height: auto;
// width:auto;
//  padding: 20px;
display: block;
text-align: center;
// padding-top: 12%;
    background-color: gray
}

.icon{
    font-size: 45px;
}

ion-label{
    font-size:11px;
}

ion-row{
    padding: 10px;
}

div{
    padding: 20px
}

  ion-grid{
    //   margin-top: 30px;
    // margin-right: 30px;
    // margin-left: -30px;

    margin: 0 auto;
    display: table;

  }

 

  