.error-messages{
    font-size: 1em;
    color: red;
    text-align: center;

}

.home-icon{
    zoom:2;
}

ion-item{
    margin-top:20px;
}

ion-button{
    margin: 0 auto;
        display: table;
        margin-top: 20px;
    }