ion-item{
    background-color: white
}
ion-searchbar{
    border-radius: 75px;
    margin: 0 auto;
    display: table
}
// .searchbar{
//     border-radius: 75px;
//     margin: 0 auto;
//     display: table
// }

.home-icon{
    zoom:2;
}

.name-text{
    padding-left: 10px;
    // font-size: 20px;
    color: rgb(240, 111, 60);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.second-icon{
    padding-left: 5px;
    color: gray
}

ion-col{
    padding-bottom: 10px;
}

.second-text{
    font-size: 13px;
    padding-left: 2px;
    color: gray
}


.badge-icons{
    font-size: 20px;
    padding-right: 10px;

}

ion-avatar{
  zoom:1.36
}


// ion-grid{
//     padding-left: inherit
// }





